<?xml version="1.0"?>
<config>
    <modules>
        <Queenb_Productshowrule>
            <version>0.1.0</version>
        </Queenb_Productshowrule>
    </modules>
    <frontend>
        <routers>
            <productshowrule>
                <use>standard</use>
                <args>
                    <module>Queenb_Productshowrule</module>
                    <frontName>productshowrule</frontName>
                </args>
            </productshowrule>
        </routers>
        <layout>
            <updates>
                <productshowrule>
                    <file>productshowrule.xml</file>
                </productshowrule>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<productshowrule>
				<use>admin</use>
				<args>
					<module>Queenb_Productshowrule</module>
					<frontName>productshowrule</frontName>
				</args>
			</productshowrule>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<productshowrule module="productshowrule">
				<title>Wholesale/Reseller</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="productshowrule">
						<title>Display products based on customer group</title>
						<sort_order>0</sort_order>
						<action>productshowrule/adminhtml_productshowrule</action>
					</items>
				</children>
			</productshowrule>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Queenb_Productshowrule>
							<title>Productshowrule Module</title>
							<sort_order>10</sort_order>
						</Queenb_Productshowrule>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<productshowrule>
					<file>productshowrule.xml</file>
				</productshowrule>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <productshowrule>
                <class>Queenb_Productshowrule_Model</class>
                <resourceModel>productshowrule_mysql4</resourceModel>
            </productshowrule>
            <productshowrule_mysql4>
                <class>Queenb_Productshowrule_Model_Mysql4</class>
                <entities>
                    <productshowrule>
                        <table>productshowrule</table>
                    </productshowrule>
                </entities>
            </productshowrule_mysql4>
        </models>
        <resources>
            <productshowrule_setup>
                <setup>
                    <module>Queenb_Productshowrule</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productshowrule_setup>
            <productshowrule_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productshowrule_write>
            <productshowrule_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productshowrule_read>
        </resources>
        <blocks>
            <productshowrule>
                <class>Queenb_Productshowrule_Block</class>
            </productshowrule>
        </blocks>
        <helpers>
            <productshowrule>
                <class>Queenb_Productshowrule_Helper</class>
            </productshowrule>
        </helpers>
    </global>
</config>