.*.sw*
.DS_Store
.sass-cache
/.git
/.gitignore
/.htaccess
/.idea
/appapi/config/db.php
/app/etc/enterprise.xml
/app/etc/local.xml
/app/etc/modules/Netstarter_Retaildirections.xml
/bntdownloader/.cache
/bntdownloader/cache.cfg
/bntdownloader/connect.cfg
/feeds
/includes/src
/lib/ClickTale/.htaccess
/lib/ClickTale/Cache
/log
/media
/public
/REVISION
/robots.txt
/sites
/var
/tmp

#/app/code/community/Cm
#/app/etc/modules/Cm_RedisSession.xml
#/lib/Credis
