<?xml version="1.0"?>
<!--
/**
* Morningtime Extensions
* http://shop.morningtime.com
*
* @extension   MasterCard Internet Gateway Service (MIGS) - Virtual Payment Client
* @type        Payment method
*
* NOTICE OF LICENSE
*
* This source file is subject to the Open Software License (OSL 3.0)
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/osl-3.0.php
*
* @category    Magento Commerce
* @package     Morningtime_Migs
* @copyright   Copyright (c) 2011-2012 Morningtime Digital Media (http://www.morningtime.com)
* @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config>
    <modules>
        <Morningtime_Migs>
            <version>1.7.0.2</version>
        </Morningtime_Migs>
    </modules>
    <global>
        <models>
            <migs>
                <class>Morningtime_Migs_Model</class>
                <resourceModel>migs_mysql4</resourceModel>
            </migs>
            <migs_mysql4>
                <class>Morningtime_Migs_Model_Mysql4</class>
                <entities>
                    <api_debug>
                        <table>migs_api_debug</table>
                    </api_debug>
                </entities>
            </migs_mysql4>
        </models>
        <helpers>
            <migs>
                <class>Morningtime_Migs_Helper</class>
            </migs>
        </helpers>
        <resources>
            <migs_setup>
                <setup>
                    <module>Morningtime_Migs</module>
                    <class>Morningtime_Migs_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </migs_setup>
            <migs_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </migs_write>
            <migs_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </migs_read>
        </resources>
        <blocks>
            <migs>
                <class>Morningtime_Migs_Block</class>
            </migs>
        </blocks>
    </global>
    <frontend>
        <secure_url>
            <migs_hosted>/migs/hosted</migs_hosted>
            <migs_merchant>/migs/merchant</migs_merchant>
        </secure_url>
        <routers>
            <migs>
                <use>standard</use>
                <args>
                    <module>Morningtime_Migs</module>
                    <frontName>migs</frontName>
                </args>
            </migs>
        </routers>
        <translate>
            <modules>
                <Morningtime_Migs>
                    <files>
                        <default>Morningtime_Migs.csv</default>
                    </files>
                </Morningtime_Migs>
            </modules>
        </translate>
        <events>
            <sales_convert_quote_payment_to_order_payment>
                <observers>
                    <migs_observer>
                        <type>singleton</type>
                        <class>migs/observer</class>
                        <method>convertPayment</method>
                    </migs_observer>
                </observers>
            </sales_convert_quote_payment_to_order_payment>
            <sales_model_service_quote_submit_after>
                <observers>
                    <migs_observer>
                        <type>singleton</type>
                        <class>migs/observer_submit</class>
                        <method>sales_model_service_quote_submit_after</method>
                    </migs_observer>
                </observers>
            </sales_model_service_quote_submit_after>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Morningtime_Migs>
                    <files>
                        <default>Morningtime_Migs.csv</default>
                    </files>
                </Morningtime_Migs>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <payment_services translate="title" module="payment">
                                            <title>Payment Services</title>
                                        </payment_services>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <payment>
            <migs_hosted>
                <model>migs/api_hosted</model>
                <title>Credit Card (via MIGS Hosted Server)</title>
                <vpc_url>https://migs.mastercard.com.au/vpcpay</vpc_url>
                <capture_mode>1</capture_mode>
                <allowspecific>0</allowspecific>
                <order_email>1</order_email>
                <order_status>pending</order_status>
                <pending_status>pending_payment</pending_status>
                <processing_status>processing</processing_status>
                <secure_secret backend_model="adminhtml/system_config_backend_encrypted"/>
            </migs_hosted>
            <migs_merchant>
                <model>migs/api_merchant</model>
                <title>Credit Card (via MIGS Merchant Server)</title>
                <vpc_url>https://migs.mastercard.com.au/vpcdps</vpc_url>
                <capture_mode>1</capture_mode>
                <allowspecific>0</allowspecific>
                <order_email>1</order_email>
                <order_status>pending</order_status>
                <pending_status>pending_payment</pending_status>
                <processing_status>processing</processing_status>
            </migs_merchant>
        </payment>
    </default>
</config>
