<?xml version="1.0"?>
<config>
    <tabs>
        <magecheckout translate="label comment">
            <label>Magecheckout Extensions</label>
            <sort_order>100</sort_order>
        </magecheckout>
    </tabs>
    <sections>
        <securedcheckout translate="label comment" module="securedcheckout">
            <label>One Step Checkout</label>
            <tab>magecheckout</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label comment">
                    <label>General Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <is_enabled translate="label comment">
                            <label>Enable One Step Checkout</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </is_enabled>
                        <title translate="label comment">
                            <label>One Step Checkout Page Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <description translate="label comment">
                            <label>One Step Checkout Description</label>
                            <frontend_type>textarea</frontend_type>
                            <comment>HTML allowed</comment>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </description>
                        <default_country_id translate="label comment">
                            <label>Default Country</label>
                            <comment><![CDATA[ Select default country for Billing address and Shipping address. ]]></comment>
                            <frontend_type>select</frontend_type>
                            <frontend_class>countries</frontend_class>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </default_country_id>
                        <default_shipping_method translate="label comment">
                            <label>Default Shipping Method</label>
                            <comment><![CDATA[ Set default shipping method in checkout process. ]]></comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>securedcheckout/system_config_source_shipping_methods</source_model>
                        </default_shipping_method>
                        <default_payment_method translate="label comment">
                            <label>Default Payment Method</label>
                            <comment><![CDATA[ Set default payment method in checkout process. ]]></comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>securedcheckout/system_config_source_payment_methods</source_model>
                        </default_payment_method>
                        <allow_ship_to_defferent_address translate="label comment">
                            <label>Allow shipping To Different Address</label>
                            <comment><![CDATA[ Allow customers can shipping to different address from billing address. ]]></comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </allow_ship_to_defferent_address>
                        <auto_detect_address>
                            <label>Use Auto Suggestion Technology</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>101</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>securedcheckout/system_config_source_address_suggest</source_model>
                            <comment>When customer fill Billing, Shipping address field, it will suggest a list of full addresses.</comment>
                        </auto_detect_address>
                        <google_specific_country>
                            <label>Restrict the search to a specific country</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <sort_order>102</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <auto_detect_address>google</auto_detect_address>
                            </depends>
                        </google_specific_country>
                        <pca_website_key>
                            <label>Website key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>102</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <auto_detect_address>pca</auto_detect_address>
                            </depends>
                            <comment>
                                <![CDATA[
                                To set up a Postcode Anywhere account or these keys, please visit <a href="http://www.postcodeanywhere.co.uk/?utm_source=magecheckout.com&utm_medium=one-step-checkout&utm_campaign=one-step-checkout" target="_blank" style="margin-left:0;">Getting Started</a> page]]>
                            </comment>
                        </pca_website_key>
                        <pca_country_lookup>
                            <label>IP Country Lookup</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>103</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <depends>
                                <auto_detect_address>pca</auto_detect_address>
                            </depends>
                            <comment>The default country will be set based on location of the customer</comment>
                        </pca_country_lookup>
                        <address_trigger_elements translate="label comment">
                            <label>Address Trigger Elements</label>
                            <comment><![CDATA[
                            Required fields to ajax update Shipping methods, Order review.
                            ]]>
                            </comment>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>securedcheckout/system_config_source_address_trigger</source_model>
                            <sort_order>105</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </address_trigger_elements>
                        <!-- <integrated_sociallogin translate="label comment">
                            <label>Integrate Social Login</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                               
                            </comment>
                        </integrated_sociallogin> -->
                    </fields>
                </general>
                <display_configuration translate="label comment">
                    <label>Display Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <is_enabled_coupon translate="label comment">
                            <label>Discount Code Section</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>securedcheckout/system_config_source_enableddisabled</source_model>
                            <comment>Show Discount Code box in Checkout page.</comment>
                        </is_enabled_coupon>
                        <display_apply_coupon_button translate="label comment">
                            <label>"Apply Coupon" Button</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>securedcheckout/system_config_source_enableddisabled</source_model>
                            <comment><![CDATA[If "Disabled", Coupon code will be validated automatically after enter coupon code.]]></comment>
                            <depends>
                                <is_enabled_coupon>1</is_enabled_coupon>
                            </depends>
                        </display_apply_coupon_button>
                        <is_enabled_comments translate="label comment">
                            <label>Order Comment</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>securedcheckout/system_config_source_enableddisabled</source_model>
                            <comment><![CDATA[Allow customer comment in order.]]></comment>
                        </is_enabled_comments>
                        <is_enabled_giftmessage translate="label comment">
                            <label>Gift Message</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>32</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>securedcheckout/system_config_source_enableddisabled</source_model>

                        </is_enabled_giftmessage>
                        <is_enabled_giftwrap translate="label comment">
                            <label>Gift Wrap</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>securedcheckout/system_config_source_enableddisabled</source_model>
                        </is_enabled_giftwrap>
                        <giftwrap_type translate="label comment">
                            <label>Calculate Method</label>
                            <frontend_type>select</frontend_type>
                            <source_model>securedcheckout/system_config_source_giftwrap</source_model>
                            <comment><![CDATA[To calculate gift wrap fee based on item or order.]]>
                            </comment>
                            <sort_order>41</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <is_enabled_giftwrap>1</is_enabled_giftwrap>
                            </depends>
                        </giftwrap_type>
                        <giftwrap_amount translate="label comment">
                            <label>Amount</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>42</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <is_enabled_giftwrap>1</is_enabled_giftwrap>
                            </depends>
                            <comment><![CDATA[Enter the amount of gift wrap fee.]]></comment>
                        </giftwrap_amount>
                        <is_enabled_delivery translate="label comment">
                            <label>Delivery Time</label>
                            <frontend_type>select</frontend_type>
                            <source_model>securedcheckout/system_config_source_enableddisabled</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_enabled_delivery>
                        <is_enabled_newsletter translate="label comment">
                            <label>Newsletter Checkbox</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Show Sign up newsletter selection]]></comment>
                            <source_model>securedcheckout/system_config_source_enableddisabled</source_model>
                        </is_enabled_newsletter>
                        <is_checked_newsletter translate="label comment">
                            <label>Checked Newsletter by default</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>61</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <is_enabled_newsletter>1</is_enabled_newsletter>
                            </depends>
                        </is_checked_newsletter>
                        <is_enabled_related_products translate="label comment">
                            <label>Related Products</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Allow display Related products based on item(s) in cart in the bottom of Checkout page.]]></comment>
                            <source_model>securedcheckout/system_config_source_enableddisabled</source_model>
                        </is_enabled_related_products>
                        <!-- <display_block_below_billing_address translate="label comment">
                            <label>Show Block Under Billing Address Selection</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>securedcheckout/system_config_source_display_block</source_model>
                        </display_block_below_billing_address>
                        <display_block_below_shipping_address translate="label comment">
                            <label>Show Block Under Shipping Address Selection</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>securedcheckout/system_config_source_display_block</source_model>
                        </display_block_below_shipping_address>
                        <display_block_below_shipping_method translate="label comment">
                            <label>Show Block Under Shipping Method Selection</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>securedcheckout/system_config_source_display_block</source_model>
                        </display_block_below_shipping_method>
                        <display_block_below_payment_method translate="label comment">
                            <label>Show Block Under Payment Method Selection</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>securedcheckout/system_config_source_display_block</source_model>
                        </display_block_below_payment_method> -->
                        <!-- <is_enabled_morph_effect translate="label comment">
                            <label>Enable Morph Effect</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[
                                        Apply for Morph Effect
                                        ]]>
                            </comment>
                        </is_enabled_morph_effect> -->
                    </fields>
                </display_configuration>
                <design_configuration translate="label comment">
                    <label>Design Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <page_layout translate="label comment">
                            <label>Checkout Page Layout</label>
                            <frontend_type>select</frontend_type>
                            <source_model>securedcheckout/system_config_source_layout</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <!--<tooltip></tooltip>-->
                        </page_layout>
                        <is_show_numbering translate="label comment">
                            <label>Heading</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>securedcheckout/system_config_source_heading_icon</source_model>
                            <comment>Display number/icon in heading.</comment>
                            <tooltip>
                                <![CDATA[
                                <strong>Icon heading</strong> <br>
                                <img src="https://lh4.googleusercontent.com/vsA6HKmJkOu0UirjKLBMNcHDQ-zlcOB8MYqgNphNqn5MXXnnOmx6Yiq2XkVtpKd_qHzgIy-kSI--dy5k4LPnW9mMJn05Nuo9aVgmXzO-fdDnn-SB85GqcqtC9HHMFuglMfm-DOU" /> <br>

                                <strong>Number heading</strong> <br>
                                <img src="https://lh4.googleusercontent.com/f6aspr4tKqHjYcEy_w0fWOccv2JR8tvV6-pkZTa042Kp2i7-A8cni_6apm3mXNuYpETi_NDy9_2xzqiKQOOna-CWAo2heptLDPEdsvaHZCbPPFVMB-6Rf33jhNYv6abhr9FA9y4" /> <br>

                            ]]>


                            </tooltip>
                        </is_show_numbering>

                        <heading_style translate="label comment">
                            <label>Heading Style</label>
                            <frontend_type>select</frontend_type>
                            <source_model>securedcheckout/system_config_source_heading</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </heading_style>
                        <style_color translate="label comment">
                            <label>Heading Background Color</label>
                            <frontend_type>select</frontend_type>
                            <source_model>securedcheckout/system_config_source_color</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </style_color>
                        <style_custom translate="label comment">
                            <label>Custom Heading Background Color</label>
                            <frontend_type>text</frontend_type>
                            <validate>color</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <style_color>custom</style_color>
                            </depends>
                        </style_custom>
                        <style_heading_custom translate="label comment">
                            <label>Heading Text Color</label>
                            <frontend_type>text</frontend_type>
                            <validate>color</validate>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </style_heading_custom>
                        <place_order_color>
                            <label>Place Order button color</label>
                            <frontend_type>text</frontend_type>
                            <validate>color</validate>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </place_order_color>
                        <custom_css>
                            <label>Custom CSS</label>
                            <frontend_type>textarea</frontend_type>
                            <validate>color</validate>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[
                            Example:<br />
                            .onestep-title.billing-title{<br />
                            background-image: url(../../images/billing_title.png) !important;
                            <br />}
                            ]]>
                            </comment>
                        </custom_css>
                    </fields>
                </design_configuration>
                <terms_conditions translate="label comment">
                    <label>Terms and Conditions Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled_terms translate="label comment">
                            <label>Terms and Conditions (TOS)</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Enable/Disable TOS. <br>
                            ]]></comment>
                        </enabled_terms>
                        <require_read translate="label comment">
                            <label>Have to read TOS before check the checkbox</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Customers have to read all TOS before ACCEPT it.]]> </comment>
                            <depends>
                                <enabled_terms>1</enabled_terms>
                            </depends>
                        </require_read>
                        <checkbox_text translate="label comment">
                            <label>Checkbox Text</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled_terms>1</enabled_terms>
                            </depends>

                        </checkbox_text>
                        <term_title translate="label comment">
                            <label>Terms and Conditions Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled_terms>1</enabled_terms>
                            </depends>

                        </term_title>
                        <term_html translate="label comment">
                            <label>Terms and Conditions Content</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Allowed HTML.]]></comment>
                            <depends>
                                <enabled_terms>1</enabled_terms>
                            </depends>
                        </term_html>
                    </fields>
                </terms_conditions>
                <survey translate="label comment">
                    <label>Survey Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled_survey translate="label comment">
                            <label>Survey</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled_survey>
                        <survey_question translate="label comment">
                            <label>Question</label>
                            <frontend_type>select</frontend_type>
                            <source_model>securedcheckout/system_config_source_poll_questions</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled_survey>1</enabled_survey>
                            </depends>
                            <comment>
                                <![CDATA[Select a poll from Magento. You can create a new poll: Admin Panel > CMS > Polls > Add New Poll.]]></comment>
                        </survey_question>
                    </fields>
                </survey>
                <import translate="label comment">
                    <label>Import Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <import_style_1>
                            <label>Style 1</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>securedcheckout/adminhtml_button_import_style</frontend_model>
                            <process>import</process>
                            <style>style01</style>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[ <img src="https://lh6.googleusercontent.com/bh3Xh9UjC9afz2TB_dtFC3l0XEZgfc-JgnTgiyVcGKe9qbzG0N7nQGdLM095UpTa67tqsLL-jxlqehldSgPG2P4Gy8OWJNypAid1L3mXJNilVmh_YQAtetUH1UfbXeb0RuTDg-Q" />]]> </tooltip>
                        </import_style_1>
                        <import_style_2>
                            <label>Style 2</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>securedcheckout/adminhtml_button_import_style</frontend_model>
                            <process>import</process>
                            <style>style02</style>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[ <img src="https://lh4.googleusercontent.com/ncwGNWWBYRVyjeACB_V99WvcDXlgZ40LAFtGelIVJcWmWrWPBPPHrHd9MXRltIo-cPMQZJRhZQJpzjuw6rtTlZCe-Tbkkju1C6j3wGZkB4AUzSAX70-amXdLD9NrY27gpAuq_H0" />]]> </tooltip>
                        </import_style_2>

                        <import_style_3>
                            <label>Style 3</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>securedcheckout/adminhtml_button_import_style</frontend_model>
                            <process>import</process>
                            <style>style03</style>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[ <img src="https://lh4.googleusercontent.com/1y1F7ZLFcBoOyKVMLwQVeStlcH-NChh-joNe0ogHNJx6gK6ZDS9IaO8Z2QJC1fmef_NUEZUH6-5kXKmliP9ZHNj07bnTOewBdg_f8ipyVYES7bgSYbHBNy-PZu92Wicnqq3uSDQ" />]]> </tooltip>
                        </import_style_3>

                        <import_style_ultimo_1>
                            <label>Ultimo Demo</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>securedcheckout/adminhtml_button_import_style</frontend_model>
                            <process>import</process>
                            <style>ultimo1</style>
                            <sort_order>31</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[ <img src="https://lh4.googleusercontent.com/k5bmwJXUiRRERV-l_gGI2xe3GeXHS6NhZebn9y_HgFbOa8ID0xU8FOUfT8H_juDtFzH8E98cs6YWS-0Rr1qyzPUJ2l2DKwQENGjDdRtjmMHMsTqp1nmFAKuQD7pIWzb4Wrl7J-Q" />]]> </tooltip>
                        </import_style_ultimo_1>


                        <import_style_porto_6>
                            <label>Porto Demo</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>securedcheckout/adminhtml_button_import_style</frontend_model>
                            <process>import</process>
                            <style>porto6</style>
                            <sort_order>41</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[ <img src="https://lh5.googleusercontent.com/DNFJXp5yMaSNXssR5sAVfc6RNZScHdQEuFUtzJ_Woovko3mYZzCdyft5ZcWMG1eZC1J307r4bwCXT62tnSgRf78OH2KmidR25Xddblqs89gDmeTPMQyYjh7XOpr18DkRHGXirEU" />]]> </tooltip>
                        </import_style_porto_6>

                        <import_style_shopper>
                            <label>Shopper Demo</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>securedcheckout/adminhtml_button_import_style</frontend_model>
                            <process>import</process>
                            <style>shopper</style>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[ <img src="https://lh4.googleusercontent.com/TscuBy_ghSvsMWFc45MRNjRBI0jBLkQHS6o4oW-0s0IY9PXoY6A8FH17CKm3bmUjKVusVvMNJoVG4_iOlaqlfrixFsGugHKlW9AzQfiZ2TGFqwCjztkhU5njGlYUwkOeykXx65k" />]]> </tooltip>
                        </import_style_shopper>

                        <import_style_fortis>
                            <label>Fortis Demo</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>securedcheckout/adminhtml_button_import_style</frontend_model>
                            <process>import</process>
                            <style>fortis1</style>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[ <img src="https://lh5.googleusercontent.com/_PyuqbX3okA6-PJrEnY3HgaxEmRcCBRaGeUkHrTDBQpqP3BXOSwiXzqold7syEY2Hi89e2fxlfL2_NcKsC1p712cMlYcy4SOWb1_4Y_n-Ixpz77fMl3c7cOUimnGlJpF7HM1y2Q" />]]> </tooltip>
                        </import_style_fortis>

                        <import_style_blanco>
                            <label>Blanco Demo</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>securedcheckout/adminhtml_button_import_style</frontend_model>
                            <process>import</process>
                            <style>blanco</style>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[ <img src="https://lh6.googleusercontent.com/l-7qetmxW-uFwsRsT-7FbRgLnk2tMybdL_qrfFKirE4NXA5oCY2JYyPkpTrM6grJj1V2pllR7OlEmx99cHmNgnm6xD07CcJaOEykSxgKr8azUY97HGLLcKT0V2XtLCfJhvpkVlI" />]]> </tooltip>
                        </import_style_blanco>

                        <import_style_buyshop>
                            <label>Buy Shop Demo</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>securedcheckout/adminhtml_button_import_style</frontend_model>
                            <process>import</process>
                            <style>buyshop</style>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[ <img src="https://lh6.googleusercontent.com/JTFaTntLzUHUc_h22LwixZHQdGBoyrZLqitFRAkpXUG2EWg7xQJm8BrjISM0C_Bk2K9Qv3lyLnSP-Pu0X13CzVViZBAu773YMdMbxtwJ_zbuHvd_ube25_y2FO9ahN3H7i6g6eM" />]]> </tooltip>
                        </import_style_buyshop>


                        <import_style_milano>
                            <label>Milano Demo</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>securedcheckout/adminhtml_button_import_style</frontend_model>
                            <process>import</process>
                            <style>milano</style>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[ <img src="https://lh6.googleusercontent.com/QnLniralOueqJj-xaZIZrPJp7hIZqNEkKdhwafxl7cM6Mp_j672ef2kfOmUIdLDZyKceurD_N7n8PqiterpbZ0pwdGHNuutQ91_0sNldxLTLiHBBpgnB0iTL-1qoBcP7wU6M7BM" />]]> </tooltip>
                        </import_style_milano>

                        <import_style_acumen>
                            <label>Acumen Demo</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>securedcheckout/adminhtml_button_import_style</frontend_model>
                            <process>import</process>
                            <style>acumen</style>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[ <img src="https://lh4.googleusercontent.com/WBNXXINUeXXVkhbgmk8KBfCR5b7bsu_sOugxwygp-ufSZJuFxhGM7iH1YS9gkHB93C069My4uiuw4t8qARzsGrRI2by3a97VFnUMZ4aLlvcfzNJHfzZsU8RzWTMfYa5USip2-LQ" />]]> </tooltip>
                        </import_style_acumen>

                        <import_style_blacknwhite>
                            <label>Black and White Demo</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>securedcheckout/adminhtml_button_import_style</frontend_model>
                            <process>import</process>
                            <style>blacknwhite</style>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[ <img src="https://lh3.googleusercontent.com/gGJFSKGQ2a1SqK5z5-8S7AgUhm_4pFwJP5V16TshobC2MhJsnxNwdMuOcGCLLfoxtRkS640oIyA6QBNIxMC1wcnbhaRZ5RlYWx5QvrJnY2nIVc7KQFhNKLadQ-7R602ZWVlfyCA" />]]> </tooltip>
                        </import_style_blacknwhite>




                    </fields>
                </import>
            </groups>
        </securedcheckout>
    </sections>
</config>