<?xml version="1.0"?>
<config>
	<modules>
		<Extendware_EWPromoConditions>
			<version>1.0.1</version>
			<extendware>
	            <copyright_holder>extendware</copyright_holder>
	            <!-- <configure_url>extendware_ewpromoconditions/adminhtml_config/index</configure_url>  -->
            </extendware>
		</Extendware_EWPromoConditions>
	</modules>
	<admin>
        <routers>
			<extendware_ewpromoconditions>
				<use>admin</use>
				<args>
					<module>Extendware_EWPromoConditions</module>
					<frontName>extendware_ewpromoconditions</frontName>
				</args>
			</extendware_ewpromoconditions>
        </routers>
    </admin>
    <adminhtml>
    	<translate>
			<modules>
				<Extendware_EWPromoConditions>
					<files>
						<default>extendware/Extendware_EWPromoConditions.csv</default>
					</files>
				</Extendware_EWPromoConditions>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewpromoconditions>
					<file>extendware/ewpromoconditions.xml</file>
				</ewpromoconditions>
			</updates>
		</layout>
		<routers></routers>
		<events>
			<adminhtml_controller_salesrule_prepare_save>
                <observers>
                    <extendware_ewpromoactions>
                        <class>ewpromoconditions/observer_general</class>
                        <method>salesruleControllerPrepareSave</method>
                    </extendware_ewpromoactions>
                </observers>
            </adminhtml_controller_salesrule_prepare_save>
            <ewpromoconditions_before_save_rules>
                <observers>
                    <extendware_ewpromoactions>
                        <class>ewpromoconditions/observer_general</class>
                        <method>salesruleControllerPrepareSave</method>
                    </extendware_ewpromoactions>
                </observers>
            </ewpromoconditions_before_save_rules>
		</events>
	</adminhtml>
	<frontend>
		<translate>
			<modules>
				<Extendware_EWPromoConditions>
					<files>
						<default>extendware/Extendware_EWPromoConditions.csv</default>
					</files>
				</Extendware_EWPromoConditions>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewpromoconditions>
					<file>extendware/ewpromoconditions.xml</file>
				</ewpromoconditions>
			</updates>
		</layout>
		<routers>
			<ewpromoconditions>
				<use>standard</use>
				<args>
					<module>Extendware_EWPromoConditions</module>
					<frontName>ewpromoconditions</frontName>
				</args>
			</ewpromoconditions>
        </routers>
    </frontend>
	<global>
		<models>
			<ewpromoconditions>
				<class>Extendware_EWPromoConditions_Model</class>
				<resourceModel>ewpromoconditions_resource</resourceModel>
			</ewpromoconditions>
			<ewpromoconditions_resource>
                <class>Extendware_EWPromoConditions_Model_Resource</class>
                <entities/>
            </ewpromoconditions_resource>
			<enterprise_customersegment>
				<rewrite>
					<observer>Extendware_EWPromoConditions_Model_Rewrite_Customersegment_Observer</observer>
				</rewrite>
			</enterprise_customersegment>
		</models>
		<blocks>
			<ewpromoconditions>
                <class>Extendware_EWPromoConditions_Block</class>
            </ewpromoconditions>
		</blocks>
		<helpers>
			<ewpromoconditions>
				<class>Extendware_EWPromoConditions_Helper</class>
			</ewpromoconditions>
		</helpers>
		<resources>
			<ewpromoconditions_setup>
				<setup>
					<module>Extendware_EWPromoConditions</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ewpromoconditions_setup>
			<ewpromoconditions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ewpromoconditions_write>
            <ewpromoconditions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ewpromoconditions_read>
		</resources>
		<template></template>
	</global>
	<input></input>
	<crontab></crontab>
	<extendware>
		<override>
			<model>
           		<mage_salesrule_rule_condition_combine_ewpromoconditionsoverride>
           			<mode>extendware</mode>
           			<search><class>Mage_SalesRule_Model_Rule_Condition_Combine</class></search>
           			<replace>
           				<class>Extendware_EWPromoConditions_Model_Override_Mage_SalesRule_Rule_Condition_Combine</class>
            			<order>0</order>
           			</replace>
           		</mage_salesrule_rule_condition_combine_ewpromoconditionsoverride>
           	</model>
		</override>
	</extendware>
</config>