<?xml version="1.0"?>
<config>
    <tabs>
        <biztech translate="label" module="auspost">
            <label>Biztech Extensions</label>
            <sort_order>250</sort_order>
        </biztech>
    </tabs>
    <sections>
        <auspost translate="label" module="auspost">
            <label>Australia Post</label>
            <tab>biztech</tab>
            <frontend_type>text</frontend_type>
            <sort_order>20</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <activation translate="label">
                    <label>Australia Post Activation</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <key>
                            <label>Activation Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                        </key>
                        <websites translate="label">
                            <label>Select Websites</label>
                            <frontend_type>checkbox</frontend_type>
                            <source_model>adminhtml/system_config_source_website</source_model>
                            <frontend_model>auspost/adminhtml_config_form_renderer_website</frontend_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </websites>
                    </fields>
                </activation>
            </groups>
        </auspost>
        <carriers>
            <groups>
                <auspost translate="label" module="auspost">
                    <label>Biztech Australia Post</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>auspost/config_source_enabledisable</source_model>
                            <frontend_model>auspost/adminhtml_enabledisable</frontend_model>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <method translate="label">
                            <label>Method name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </method>
                        <auspost_api_key translate="label">
                            <label>API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auspost_api_key>   
                        <handling_action translate="label">
                            <label>Handling Applied</label>
                            <frontend_type>select</frontend_type>
                            <source_model>shipping/source_handlingAction</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </handling_action>
                        <handling_type translate="label">
                            <label>Calculate Handling Fee</label>
                            <frontend_type>select</frontend_type>
                            <source_model>shipping/source_handlingType</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </handling_type>
                        <handling_fee translate="label">
                            <label>Handling Fee</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </handling_fee>  
                        <auspost_from_shipping_postcode translate="label">
                            <label>Warehouse Postcode</label>
                            <comment>In order to query delivery options</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auspost_from_shipping_postcode>
                        <auspost_enable_services translate="label">
                            <label>Enable Domestic services for Parcel</label>
                            <frontend_type>select</frontend_type>
                            <backend_model>Biztech_Auspost_Model_Config_Servicemultiselectionoptions</backend_model>
                            <source_model>Biztech_Auspost_Model_Config_Servicemultiselectionoptions</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>multiselect</frontend_type>
                        </auspost_enable_services>
                        <auspost_enable_int_services translate="label">
                            <label>Enable International services for Parcel</label>
                            <frontend_type>select</frontend_type>
                            <backend_model>Biztech_Auspost_Model_Config_Intservicemultiselectionoptions</backend_model>
                            <source_model>Biztech_Auspost_Model_Config_Intservicemultiselectionoptions</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>multiselect</frontend_type>
                        </auspost_enable_int_services>  
                        <auspost_enable_services_letter translate="label">
                            <label>Enable Domestic services for Letter</label>
                            <frontend_type>select</frontend_type>
                            <backend_model>Biztech_Auspost_Model_Config_Letterdomesticoption</backend_model>
                            <source_model>Biztech_Auspost_Model_Config_Letterdomesticoption</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>multiselect</frontend_type>
                        </auspost_enable_services_letter>
                        <auspost_enable_int_services_letter translate="label">
                            <label>Enable International services for Letter</label>
                            <frontend_type>select</frontend_type>
                            <backend_model>Biztech_Auspost_Model_Config_Letterintoption</backend_model>
                            <source_model>Biztech_Auspost_Model_Config_Letterintoption</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>multiselect</frontend_type>
                        </auspost_enable_int_services_letter> 
                        <auspost_disable_signature_services translate="label">
                            <label>Disable Signature on Delivery services</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </auspost_disable_signature_services>
                        <auspost_add_extra_cover_price translate="label">
                            <label>Add Extra Cover Price for Domestic services</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </auspost_add_extra_cover_price>
                         <auspost_add_extra_cover_price_int_service translate="label">
                            <label>Add Extra Cover Price for International services</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </auspost_add_extra_cover_price_int_service>
                        <auspost_package_item translate="label">
                            <label>Ship every item separately</label>
                            <comment>If enable will create different packages for every items if cart weight exceeds Australia Post Weight limit. We do not recomend it as it doubles the rate</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </auspost_package_item>
                        <sallowspecific translate="label">
                            <label>Ship to applicable countries</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>17</sort_order>
                            <frontend_class>shipping-applicable-country</frontend_class>
                            <source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sallowspecific>
                        <specificcountry translate="label">
                            <label>Ship to Specific countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>18</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </specificcountry>
                        <showmethod translate="label">
                            <label>Show Method if Not Applicable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>19</sort_order>
                            <frontend_class>shipping-skip-hide</frontend_class>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </showmethod>
                        <specificerrmsg translate="label">
                            <label>Displayed Error Message</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </specificerrmsg>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
                        <heading_attribute translate="label">
                            <label>Product Configutation</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </heading_attribute>
                        <length_attribute translate="label">
                            <label>Select Attribute for Length</label>
                            <frontend_type>select</frontend_type>
                            <source_model>auspost/config_source_attributes</source_model>
                            <sort_order>23</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Select length attribute.</comment>
                        </length_attribute>
                        <height_attribute translate="label">
                            <label>Select Attribute for Height/Thickness</label>
                            <frontend_type>select</frontend_type>
                            <source_model>auspost/config_source_attributes</source_model>
                            <sort_order>24</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Select height / thickness attribute.</comment>
                        </height_attribute>
                        <width_attribute translate="label">
                            <label>Select Attribute for Width</label>
                            <frontend_type>select</frontend_type>
                            <source_model>auspost/config_source_attributes</source_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Select width attribute.</comment>
                        </width_attribute>
                        <weight_unit>
                            <label>Default Weight Unit</label>
                            <comment>Product weight unit</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>auspost/config_source_unit</source_model>
                            <sort_order>26</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </weight_unit>
                        <auspost_allow_default translate="label">
                            <label>Allow Default Value for Dimension</label>
                            <comment>If product dimensions are empty , will use following global values.</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>27</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </auspost_allow_default>
                        <length_value>
                            <label>Default Length (cm)</label>
                            <!--<comment>If empty, default value used is 10cm</comment>-->
                            <frontend_type>text</frontend_type>
                            <depends><auspost_allow_default>1</auspost_allow_default></depends>
                            <sort_order>28</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </length_value>
                        <height_value>
                            <label>Default Height (cm)</label>
                            <!--<comment>If empty, default value used is 10cm</comment>-->
                            <frontend_type>text</frontend_type>
                            <depends><auspost_allow_default>1</auspost_allow_default></depends>
                            <sort_order>28</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </height_value>
                        <width_value>
                            <label>Default Width (cm)</label>
                            <!--<comment>If empty, default value used is 10cm</comment>-->
                            <frontend_type>text</frontend_type>
                            <depends><auspost_allow_default>1</auspost_allow_default></depends>
                            <sort_order>29</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </width_value>
                        <!--<weight_value>
                            <label>Add Value for Weight</label>
                            <comment>If empty, default value used is 10Kg</comment>
                            <frontend_type>text</frontend_type>
                            <depends><auspost_allow_default>1</auspost_allow_default></depends>
                            <sort_order>312</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </weight_value>-->
                    </fields>
                </auspost>
            </groups>
        </carriers>
    </sections>
</config>
