<?xml version="1.0"?>
<config>
  <modules>
    <Queenb_CustomerAtrr>
      <version>0.1.1</version>
    </Queenb_CustomerAtrr>
  </modules>
  <global>
	<fieldsets>
        <checkout_onepage_quote>
            <customer_how_find_us_type>
                <to_customer>how_find_us_type</to_customer>
            </customer_how_find_us_type>
			<customer_how_find_us_value>
                <to_customer>how_find_us_value</to_customer>
            </customer_how_find_us_value>
        </checkout_onepage_quote>
		<checkout_onepage_billing>
			<how_find_us_value>
				<to_customer>*</to_customer>
			</how_find_us_value>
			<how_find_us_type>
				<to_customer>*</to_customer>
			</how_find_us_type>
		</checkout_onepage_billing>
		<customer_account>
            <how_find_us_type>
					<create>1</create>
                    <update>1</update>
                    <name>1</name>
            </how_find_us_type>
			<how_find_us_value>
					<create>1</create>
                    <update>1</update>
                    <name>1</name>
            </how_find_us_value>
        </customer_account>
	</fieldsets>
    <helpers>
      <customeratrr>
        <class>Queenb_CustomerAtrr_Helper</class>
      </customeratrr>
    </helpers>
	<models>
	      <example_mod>
        <rewrite>
          <Onepage>Queenb_CustomerAtrr_Checkout_Model_Type_Onepage</Onepage>
        </rewrite>
      </example_mod>
	  <customeratrr>
		<class>Queenb_CustomerAtrr_Model</class>
		<resourceModel>customeratrr_mysql4</resourceModel>
	  </customeratrr>
	</models>
	<resources>
	  <customerattribute1443610255_setup>
		<setup>
		  <module>Queenb_CustomerAtrr</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1443610255_setup>
	  <customerattribute1443610255_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1443610255_write>
	  <customerattribute1443610255_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1443610255_read>
	</resources>
  </global>
</config> 